@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,200..1000;1,200..1000&display=swap&#39');

:root {
--bg-color: #222831;
--primary-color: #DDDDDD;
--secundary-color: #F05454;
--font: “Nunito Sans”, sans-serif;
}

body {
background-color: var(--bg-color);
color: var(--primary-color);
font-family: var(--font);
height: 100vh;
margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
}
h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}